/*Side icons and text*/
.side-container{
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 7vw;
}

.left-side{
    left:0;
}

.right-side{
    right: 0;
}

.vertical-text{
    cursor: pointer;
}

.vertical-text:hover{
    color:#a56dff
}

.side-line{
    width: 2px;
    height: 100px;
    background-color: #5d00f3;
}

.github-side-icon{
    margin: 30px;
}

.vertical-text{
    writing-mode: vertical-rl;
    margin: 30px;
}

@media screen and (max-width: 768px) {
    .side-container{
        display: none;
    }
}