.about-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 5rem auto;
    width: 80%;
    gap: 2.5rem;
    border: white 1px solid;
}
.iconIntro-container{
    position: relative;
    display: flex;
    gap: 1rem;
    border: white 1px solid;
}

.circle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 1px solid;

    
}
/*design for the circle*/
.circle{
    border-radius: 50%;
    background-color: #5d00f3;
    width: 24px;
    height: 24px;
}
/*design for the line*/
.line{
    width:6px;
    height: 100%;
    background: linear-gradient(to bottom, #5d00f3,#3100b600);
}

/*
layout for the line-contianer
contains: intro,name,info
*/
.intro-container{
    position:relative;
    border: white 1px solid;
}

.intro{
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bolder;
}

.name{
    color:blueviolet
}

.info{
    font-size: clamp(1.5rem, 2.7vw, 3rem);
}

.about-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about{
    align-items: center;
    display: flex;
    justify-content:flex-start;
    font-size: 1.5em;
    margin: 2%;
}

.title{
    padding-left: 40px;
    padding-right: 10px;
}

.title-line{
    position: relative;
    width:40%;
    height: 2px;
    background:rgb(138, 106, 255);
    top:10px;
}

.about-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 1.5rem;
}

.about-image-container{
    position: relative;
}
.about-image{
    width: 100%;
    height: auto;
}


@media screen and (max-width: 768px) {
    .about-container{
        width: 90%
    }

    .about-content{
        grid-template-columns: 1fr;
    }


}