.about-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    width: 80%;
    gap: 2.5rem;
}
.iconIntro-container{
    position: relative;
    display: flex;
    gap: 1rem;
}

.circle-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
/*design for the circle*/
.circle{
    border-radius: 50%;
    background-color: #5d00f3;
    width: clamp(1rem, 2vw, 3rem);
    height: clamp(1rem, 2vw, 3rem);   
}
/*design for the line*/
.line{
    width: clamp(0.1rem, 0.4vw, 1rem);
    height: 100%;
    background: linear-gradient(to bottom, #5d00f3,#3100b600);
}

/*
layout for the line-contianer
contains: intro,name,info
*/
.intro-container{
    position:relative;
}

.intro{
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: bolder;
}

.name{
    color:blueviolet
}

.info{
    font-size: clamp(1rem, 4vw, 2rem);
}

.about-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    gap: 2rem;
}

.about{
    align-items: center;
    display: flex;
    gap: 1rem;
}

.about .title{
    font-size: clamp(1.3rem, 2vw, 2.5rem);
}

.about .title-line{
    position: relative;
    width:50%;
    height: 0.2vh;
    background:rgb(138, 106, 255);
    top:10px;
}

.about-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: bolder;
    gap: 1.5rem;
}

.about-image-container{
    display: flex;
}

.about-image{
    width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    .about-container{
        width: 90%;
    }

    .about-content{
        grid-template-columns: none;
        grid-template-rows : 1fr;
    }

    .about-image{
        width: 60%;
        max-height: 400px;
        height: auto;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1440px) {
    .about-container{
        width: 50%;
    }
}