.contact-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap:2rem;
    margin-bottom: 10vw;
}

.contact{
    align-items: center;
    display: flex;
    gap:1rem
}

.contact-title{
    font-size: clamp(1.3rem, 2vw, 2.5rem);
}

.contact-title-line{
    position: relative;
    width:50%;
    height: 0.2vh;
    background:rgb(138, 106, 255);
    top:10px;
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:3rem
}
.contact-description{
    font-size: clamp(1.3rem, 2vw, 3rem);
}

.contact-description u{
    color:#a56dff;
    cursor: pointer;
}

.contact-button{
    position: relative;
    background-color: #30155c00;
    border:2px solid #782af5;
    border-radius: 10px;
    color:#a56dff;
    font-size: clamp(1rem, 2vw, 4rem);
    width: 16vw;
    max-width: 20vw;
    height: 7vw;
    max-height: 10vh;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.contact-button:hover{
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px #782af5;
}

@media screen and (max-width : 600px) {
    .contact-container{
        width: 90%;
    }

    .contact-button{
        width: 30%;
        height: 5vh;
    }

    .contact-button:hover{
        transform: none;
        box-shadow: none;
    }
}