/*--------------------NavBar---------------------------*/
.navbar{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0420;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.493);
  height: 50px;
  width: 100%;
  top:0;
  left:0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
#heading1{
  color:#fff;
}
#navOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:2%;

}

#navOptions li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navOptions li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navOptions li a:hover,
#navOptions li a.active{
  color: #b388d8
}

#navOptions li a:hover::after,
#navOptions li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #5f3782;
  position: absolute;
  bottom: -4px;
  left: 20px; 
}

#menu {
  display: none;
  cursor: pointer;
}
.bar{
  color:#fff;
  align-items: center;
}
  
  
/*navbar in mobile screen*/
@media screen and (max-width: 600px) {
  .navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
  }
  #heading1{
    position: relative;
    color:#fff;
    font-size: 16px;
  }
  .navOptions{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    top:140px;
    right:-600px;
    font-size: 1.3rem;
    background-color: #200836;
    width:130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: right 0.3s ease-in-out;
    border:1px rgb(189, 68, 255) solid

  }
  .navOptions.active{
    right: -50px;
  }
  .navOptions li{
    margin: 10px 0;
    list-style: none;
  }
  .navOptions li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
  }
  
  #menu{
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding-right: 5%;
  }
}
  
#navbar.active{
  right:0px;
}

/* .navbar.hide {
transform: translateY(-100%);
}

.navbar.show {
    transform: translateY(0);
} */
/*-------------------------------------------------*/