.experience-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.experience{
    align-items: center;
    display: flex;
    justify-content:flex-start;
    font-size: 1.5em;
    margin: 1%;
}


.jobs-container{
    display: flex;
    justify-content: center;
    gap:2%;
    margin:2%;
}

.button-tile{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.job{
    color:rgb(202, 171, 255);
    background-color: transparent;
    padding: 10%;
    font-size: 1rem;
    text-align: start;
    border:none;
    border-left:3px solid rgb(33, 0, 89);
    cursor: pointer;
    
}

.job:hover{
    background-color: rgb(30, 2, 62);
    color:rgb(201, 144, 255);
}

.job[aria-selected = "true"]{
    color:rgb(201, 144, 255);
    transition: border-left 0.3s ease-in-out;
    border-left:3px solid rgb(183, 0, 255); 
    background-color: rgb(30, 2, 62);
    animation: borderMoveUpDown 0.3s ease-in-out forwards;
}
@keyframes borderMoveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.job-card{
    width: 60%;
}

.job-title{
    font-size: 23px
}

.job-time{
    font-size: 1em;
    margin:2%;
}

.arrow-text-container{
    position: relative;
    display: flex;
    gap:1%;
    margin: 4%;
}

.job-task{
    font-size: 1em;
}
.arrow {
    position: relative;
    width: 0;
    height: 0;
    top:7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid rgb(93, 0, 255);
}

@media screen and (max-width:500px) {
    .experience-container{
        margin: 20px;
        width: 100%;
    }
    .experience{
        font-size: 16px;
    }
    .title{
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-line{
        top:7px;
    }
    
    .button-tile{
        overflow: hidden;
        border:1px solid #a333ee;
        flex-direction: row;
        width: 90%;
        justify-content:center;
        align-items: center;

    }

    .jobs-container{
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    .job{
        background-color: inherit;
        float: left;
        border:none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
    } 

    .job[aria-selected = "true"]{
        border-left:0px;
        border-bottom:3px solid rgb(183, 0, 255); 
    }
    .job-card{
        width: 80%;
    }
}
