*{
    margin:0;
    padding: 0;
    height: auto;
    width: auto;
}

:root{
    --scrollbar-width:50px;
    --scrollbar-height:50px;
    --scrollbar-bg: rgb(34, 3, 52);
    --scrollbar-thumb : rgb(161, 13, 247);
    --scrollbar-thumb-hover : rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}
::-webkit-scrollbar-track{
    background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb-hover{
    background: var(--scrollbar-thumb-hover);
}

/*Fire fox*/
html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
  }

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0420;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.493);
    height: 50px;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  #heading1{
    color:#fff;
  }
  #navOptions{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navOptions li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navOptions li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  #navOptions li a:hover,
  #navOptions li a.active{
    color: #b388d8
  }
  
  #navOptions li a:hover::after,
  #navOptions li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #5f3782;
    position: absolute;
    bottom: -4px;
    left: 20px; 
  }
  
  #mobile {
    display: none;
  }
  #mobile i{
    color:#fff;
    align-items: center;
  }
  
  
  /*navbar in mobile screen*/
  @media screen and (max-width: 769px) {
    
    #mobile {
      display: block;
    }
    #mobile{
      font-size: 24px;
      cursor: pointer;
    }
  
    #navbar li{
      margin-bottom: 10px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        top: 70px;
        right: -200px;
        width: auto;
        height: auto;
        background: #0f0420;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.06);
        padding: 10px;
        transition: 0.6s ease-in-out;
    }
  }
  
  #navbar.active{
    right:0px;
  }

.navbar.hide {
transform: translateY(-100%);
}

.navbar.show {
    transform: translateY(0);
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 5%;
    width: 80%;
}

.side-container{
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 10%;
}

.left-side{
    left:0;
}

.right-side{
    right: 0;
}

.vertical-text{
    cursor: pointer;
}

.vertical-text:hover{
    color:#a56dff
}

.side-line{
    width: 2px;
    height: 100px;
    background-color: #5d00f3;
}

.github-side-icon{
    margin: 30px;
}

.vertical-text{
    writing-mode: vertical-rl;
    margin: 30px;
}
/*
layout for the about contianer
contains: circle-container,intro-container
*/
.about-container{
    position: relative;
    display: flex;
}

/*
layout for the about contianer
contains: circle,line
*/
.circle-container{
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 2%;
    
}
/*design for the circle*/
.circle{
    border-radius: 50%;
    background-color: #5d00f3;
    width: 25px;
    height: 25px;
}
/*design for the line*/
.line{
    width:6px;
    height: 200px;
    background: linear-gradient(to bottom, #5d00f3,#3100b600);
}

/*
layout for the line-contianer
contains: intro,name,info
*/
.intro-container{
    margin:20px;
    position: relative;
}

.intro{
    color:#ffffff;
    font-size: 75px;
    font-weight: bolder;
}

.name{
    color:blueviolet
}

.info{
    font-size: 32px;
    font-style: normal;
    font-weight: light;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.about,
.project,
.experience,
.contact{
    align-items: center;
    display: flex;
    justify-content:flex-start;
    font-size: 1.5em;
    margin: 2%;
}

.title{
    padding-left: 40px;
    padding-right: 10px;
}

.title-line{
    position: relative;
    width:40%;
    height: 2px;
    background:rgb(138, 106, 255);
    top:10px;
}

.about-content{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.description{
    width: 50%;
    font-size: 1.4rem;
}

.about-image-container{
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
}


.project-container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 40px;
}

.project-card{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    margin: 4%;
}

.imgContainer{
    position: relative;
    display: flex;
    width: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.project-card img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.video-overlay{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
}

.video-content{
    background: #c5c5c538;
    padding: 20px;
    border-radius: 15px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-content video{
    width: 80%;
    height: auto;
}

.close-button{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
} 

.videoDemo{
    position: absolute;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    height: 20%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: 0.3s;
}

.project-card:hover .videoDemo{
    opacity: 1;
}



.project-info{
    position: relative;
    padding: 2%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.left-info{
    align-items: start;
}

.right-info{
    align-items: end;
}
.project-description{
    position: relative;
    padding: 2%;
    display: flex;
    margin: 1%;
    padding: 3%;
    align-items: center;
    background-color: #352255;
    width: 115%;
    height: 100%;
    border-radius:5px;
}
.softwares{
    word-spacing: 2em;
}
.left-desc{
    justify-content: left;
}

.right-desc{
    justify-content: right;
}

.other-project-container,
.certificate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.other-title,
.certificate-title{
    margin: 3%;
}

.project-box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 22vw 22vw 22vw;
    height: 44vh;
    column-gap: 2vw;
}

.box{
    border:solid 1px white;
}

.experience-container{
    display: flex;
    flex-direction: column;
    margin: 40px;
    border:solid 1px white;
}

.jobs-container{
    display: flex;
    justify-content: center;
    gap:2%;
    margin:2%;
    border:1px solid white
}

.button-tile{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.job{
    color:rgb(202, 171, 255);
    background-color: transparent;
    padding: 10%;
    font-size: 1rem;
    text-align: start;
    border:none;
    border-left:3px solid rgb(33, 0, 89);
    cursor: pointer;
    
}

.job:hover{
    background-color: rgb(30, 2, 62);
    color:rgb(201, 144, 255);
}

.job[aria-selected = "true"]{
    color:rgb(201, 144, 255);
    transition: border-left 0.3s ease-in-out;
    border-left:3px solid rgb(183, 0, 255); 
    background-color: rgb(30, 2, 62);
    animation: borderMoveUpDown 0.3s ease-in-out forwards;
}
@keyframes borderMoveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.job-card{
    width: 60%;
}

.job-title{
    font-size: 23px
}

.job-time{
    font-size: 1em;
    margin:2%;
}

.arrow-text-container{
    position: relative;
    display: flex;
    gap:1%;
    margin: 4%;
}
.arrow {
    position: relative;
    width: 0;
    height: 0;
    top:7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid rgb(93, 0, 255);
}

.contact-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:2%;
}
.contact-description{
    font-size: 1.3rem;
    text-align: center;
    width: 75%;
}

.contact-button{
    position: relative;
    background-color: #30155c00;
    border:2px solid #782af5;
    border-radius: 10px;
    color:#a56dff;
    font-size: 1.3rem;
    width: 20%;
    height: 70px;
    margin: 10%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.contact-button:hover{
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px #782af5;
}

.certificate-box{
    position: relative;
    border: 1px solid white;
    width: 100%;
    height: 400px;
    margin: 4%;
}

.certificate{
    position: absolute;
    width: 300px;
    height: auto;
    padding: 1%;
    background-color: #090116;
    top: 50%;
    left:50%;
    border: 1px solid white;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.certificate.one{
    height: 100%;
    transform: translate(-50%, -50%) rotate(10deg);  
}
.certificate img{
    height: auto;
    width: 300px;
    border: 1px white;
}
.certificate.two{
    height: 100%;
    transform: translate(-55%, -45%) rotate(5deg);  
}

.certificate.three{
    height: 100%;
    transform: translate(-60%, -40%) rotate(0deg);
}

.certificate-box:hover .one{
    transform: translate(60%, -50%) rotate(0deg);
}

.certificate-box:hover .two{
    transform: translate(-50%, -50%) rotate(0deg);
}

.certificate-box:hover .three{
    transform: translate(-160%, -50%) rotate(0deg);
}