*{
    margin:0;
    padding: 0;
    height: auto;
    width: auto;
}

/* ----------------Custom scroll bar------------------ */
:root{
    --scrollbar-bg: rgb(34, 3, 52);
    --scrollbar-thumb : rgb(161, 13, 247);
    --scrollbar-thumb-hover : rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}
::-webkit-scrollbar-track{
    background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb-hover{
    background: var(--scrollbar-thumb-hover);
}

/*Fire fox*/
 html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
  }


/*Side icons and text*/
.side-container{
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 10%;
} */

.left-side{
    left:0;
}

.right-side{
    right: 0;
}

.vertical-text{
    cursor: pointer;
}

.vertical-text:hover{
    color:#a56dff
}

.side-line{
    width: 2px;
    height: 100px;
    background-color: #5d00f3;
}

.github-side-icon{
    margin: 30px;
}

.vertical-text{
    writing-mode: vertical-rl;
    margin: 30px;
}

@media screen and (max-width: 500px) {
    .side-container{
        display: none;
    }
}