*{
    margin:0;
    padding: 0;
    height: auto;
    width: auto;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
}

.side-container{
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 10%;
}

.left-side{
    left:0;
}

.right-side{
    right: 0;
}

.side-line{
    width: 2px;
    height: 100px;
    background-color: #5d00f3;
}

.github-side-icon{
    margin: 30px;
}

.vertical-text{
    writing-mode: vertical-rl;
    margin: 30px;
}
/*
layout for the about contianer
contains: circle-container,intro-container
*/
.about-container{
    position: relative;
    display: flex;
}

/*
layout for the about contianer
contains: circle,line
*/
.circle-container{
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 2%;
    
}
/*design for the circle*/
.circle{
    border-radius: 50%;
    background-color: #5d00f3;
    width: 25px;
    height: 25px;
}
/*design for the line*/
.line{
    width:6px;
    height: 200px;
    background: linear-gradient(to bottom, #5d00f3,#3100b600);
}

/*
layout for the line-contianer
contains: intro,name,info
*/
.intro-container{
    margin:20px;
    position: relative;
}

.intro{
    color:#ffffff;
    font-size: 75px;
    font-weight: bolder;
}

.name{
    color:blueviolet
}

.info{
    font-size: 32px;
    font-style: normal;
    font-weight: light;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.about,
.project{
    
    align-items: center;
    display: flex;
    justify-content:flex-start;
    font-size: 1.5em;
    margin: 2%;
}

.title{
    padding-left: 40px;
    padding-right: 10px;
}

.title-line{
    position: relative;
    width:40%;
    height: 2px;
    background:rgb(138, 106, 255);
    top:10px;
}

.about-content{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.description{
    width: 50%;
    font-size: 1.4rem;
}

.about-image-container{
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
}


.project-container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 40px;
}

.project-card{
    display: flex;
    position: relative;
    margin: 4%;
}

.image{
    width: 50%;
    height: 300px;
}

.project-info{
    padding: 2%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    width: 50%;
}

.left-info{
    align-items: start;
}

.right-info{
    align-items: end;
}
.project-description{
    padding: 2%;
    display: flex;
    background-color: #30155c;
    width: 115%;
    height: 100%;
    border-radius:5px;
}

.left-desc{
    justify-content: left;
}

.right-desc{
    justify-content: right;
}

.other-title{
    margin: 3%;
}
.other-project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px white;
}

.project-box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 25vw 25vw 25vw;
    height: 50vh;
    column-gap: 2vw;
}

.box{
    border:solid 1px white;

}