nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0420;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.493);
  height: 50px;
}
#heading1{
  color:#fff;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
  color: #b388d8
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #5f3782;
  position: absolute;
  bottom: -4px;
  left: 20px; 
}

#mobile {
  display: none;
}
#mobile i{
  color:#fff;
  align-items: center;
}


/*navbar in mobile screen*/
@media screen and (max-width: 769px) {
  
  #mobile {
    display: block;
  }
  #mobile{
    font-size: 24px;
    cursor: pointer;
  }

  #navbar li{
    margin-bottom: 10px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:70px;
    right:-300px;
    width:150px;
    height: 100px;
    background: #0f0420;
    box-shadow: 0 40px 60px rgb(0,0,0,0.06);
    padding: 10px 0 10px 0;
    transition:0.5s ease-in-out
  }
}

#navbar.active{
  right:0px;
}
