.experience-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 80%;
    gap: 2.5rem;
}

.experience{
    align-items: center;
    display: flex;
    gap: 1rem   
}
.experience .title{
    font-size: clamp(1.3rem, 2vw, 2.5rem);
}

.experience .title-line{
    position: relative;
    width:50%;
    height: 0.2vh;
    background:rgb(138, 106, 255);
    top:10px;
}

.jobs-container{
    display: flex;
    gap:1vw;
}

.button-tile{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 20%;
    max-height: 20px;
}

.job{
    color:rgb(202, 171, 255);
    background-color: transparent;
    padding: 10%;
    font-size: clamp(1rem, 1.7vw, 3rem);
    font-weight: bold;
    text-align: start;
    border:none;
    border-left:3px solid rgb(33, 0, 89);
    cursor: pointer;
    
}

.job:hover{
    background-color: rgb(30, 2, 62);
    color:rgb(201, 144, 255);
}

.job[aria-selected = "true"]{
    color:rgb(201, 144, 255);
    transition: border-left 0.3s ease-in-out;
    border-left:3px solid rgb(183, 0, 255); 
    background-color: rgb(30, 2, 62);
    
}

.job-line{
    width:0.1vw;
    height: auto;
    background:rgb(138, 106, 255);
}

.job-card{
    width: 80%;
    font-size: clamp(1rem, 2vw, 2rem);
}

.job-title{
    font-size: 23px
}

.job-time{
    font-size: 1em;
    margin:2%;
}

.arrow-text-container{
    position: relative;
    display: flex;
    gap:1%;
    margin: 4%;
}

.job-task{
    font-size: 1em;
}
.arrow {
    position: relative;
    width: 0;
    height: 0;
    top:7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid rgb(93, 0, 255);
}

@media screen and (max-width:768px) {
    .experience-container{
        width: 90%;
    }
    .button-tile{
        grid-template-rows: none;
        grid-template-columns: repeat(3, 1fr);
        width: 100%
    }

    .jobs-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid white

    }

    .job{
        background-color: inherit;
        float: left;
        border:none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
    } 

    .job[aria-selected = "true"]{
        border-left:0px;
        border-bottom:3px solid rgb(183, 0, 255); 
    }
    .job-card{
        width: 80%;
        margin-top:3%;
    }
}
