*{
  color:white;
  margin:0;
  padding: 0;
  height: auto;
  width: auto;
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* Ensure the root component is constrained within the viewport */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 

.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #211338c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(1, 1, 1);
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----------------Custom scroll bar------------------ */
:root{
  --scrollbar-bg: rgb(34, 3, 52);
  --scrollbar-thumb : rgb(161, 13, 247);
  --scrollbar-thumb-hover : rgb(255, 255, 255);
}

::-webkit-scrollbar{
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}
::-webkit-scrollbar-track{
  background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb{
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb-hover{
  background: var(--scrollbar-thumb-hover);
}

/*Fire fox*/
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

@media screen and (max-width: 768px) {
  .page{
    overflow-x: hidden;
  }
}